[2016-12-01 04:41] jni opened #4 "Allow measurement of edge "capacity", average pixel intensity over length"
The current approach allows measurement of pixel intensity as a height, but not as an independent value. For some applications (Breuer *et al*, in press), this is insufficient.

[2016-12-02 05:49] jni opened #5 "Deal with adjacent junction nodes"
When we build the junction-junction graph, we only connect edges containing at least one path node. This might leave parts of the junction-junction graph artificially disconnected. It would probably be useful to make another pass over the skeleton image to connect these.

Alternatively, we could collapse those nodes into a single point at their centre, but that seems messy.

[2017-01-24 02:29] jni opened #8 "Add scale/spacing to the columns returned for analysis"
Although somewhat redundant, this would simplify many downstream data analysis tasks.

[2017-01-24 05:25] jni opened #9 "Figure out ahead of time when the skeletonisation is bad"
When performing skeletonisation for many files, we can measure certain properties of the skeletons or images (e.g. number of tips, number of branches, number of connected skeletons, percentage of pixels above threshold, average intensity or minimum intensity on the skeleton itself), and use these to predict when a skeletonisation has gone wrong.

Then, either the sample can be discarded, or the us

[2017-01-24 05:32] jni opened #10 "Improve performance when processing many files"
The software can give "too many open files" or "out of memory" errors when processing too many files.

One explicit problem is that matplotlib figures are not getting automatically garbage collected, so an explicit fig.close() might be called for.

Additionally, using a disk-based dask dataframe, instead of holding all produced dataframes in memory, would also help.

[2017-01-24 05:33] jni opened #11 "Add interactive skeleton overlay viewer"
Looking at the skeleton overlay would be much more useful if you could quickly switch the overlay on and off with a keystroke.

[2017-01-24 05:36] jni opened #12 "Additional subplots for pipeline plot"
Draw line skeleton with different colormaps:
- branch distance
- squiggle

[2017-01-24 05:40] jni opened #13 "Additional summary statistics to output at the end of the run"
The following measurements would be useful as biological measurements:

- Degree distribution of skeleton nodes (aka "functionality"). This will be hard to get beyond 3... Some clustering may be required.
- "Mesh size" distribution: possibly the area within each spectrin "triangle".
- spectrin node density: number of junctions per unit area. Can do this locally per image or as a summary per image.

[2017-01-31 12:59] #5 closed

[2017-02-02 10:22] jni opened #15 "Make input directory the output directory by default"
It's annoying to always have to select the output directory.

[2017-02-06 02:27] jni opened #16 "Use distance transform from watershed ridge to evaluate skeleton branch quality"
Some of our automated skeletons are pretty rubbish. One way to address this is to filter out branches that we consider to be of poor quality. And one way to do *that* is to compute the watershed transform, then the distance transform from the ridges. Skeleton branches that deviate too much from that should be considered suspect.

[2017-02-06 02:29] jni commented on #16
See also #9.

[2017-02-06 02:31] jni opened #17 "Use Hessian filter or shape index to find skeleton"
The current skeletonisation procedure is quite rudimentary. (Gaussian filter -> local thresholding -> thinning.) One possible way to improve it is to use the Hessian filter and shape index to find "ridge-y" areas and use those as the starting point for skeletonisation.

[2017-02-06 05:22] jni commented on #15
Closed by #18

[2017-02-06 05:22] #15 closed

[2017-02-07 02:15] ajblanch opened #20 "Gui closes at end of run - should stay open."

[2017-02-07 02:17] ajblanch commented on #13
important for me: Mean branch length of type 2 branches. (The main stat I have been using as a comparator).

[2017-02-07 02:21] ajblanch commented on #12
I would suggest a 10 nm bin size for the colour map

[2017-02-16 01:27] jni commented on #17
Related: sometimes there is only background in the corners of the image. Shape index might help to distinguish that as background and e.g. create a mask.

[2017-02-16 01:54] jni opened #22 "Add optional crop parameter that ignores skeleton around image borders"

[2017-03-09 00:13] ajblanch commented on #20
Gui appears to stay open if the "save skeleton plot" box is unchecked.

[2017-03-09 02:22] #8 closed

[2017-03-14 04:46] ajblanch opened #27 "Scaling of Brightness & Contrast"
Test automatic scaling of grey levels to reduce variability between input images of different brightness/contrast

[2017-03-14 06:38] jni commented on #4
Closed by #28

[2017-03-14 06:38] #4 closed

[2017-03-14 06:45] jni commented on #8
Closed by #19

[2017-03-14 08:00] #22 closed

[2017-03-16 04:17] jni opened #33 "Output parameter selection somewhere and allow use as config file"
Parameters can make a huge difference to the results. These should be recorded somewhere for the sake of provenance, either in the data file, the image stats file, or a new file.

[2017-03-19 12:11] jni commented on #17
Some resources for ridge detection, found by Adam:

- [Fingerprint ridge detection in Matlab](http://www.peterkovesi.com/matlabfns/FingerPrints/ridgesegment.m) (from [this list](http://www.peterkovesi.com/matlabfns/#spatial))
- [Thorsten Wagner's ridge detection in IJ](http://imagej.net/Ridge_Detection)
- [Magnier: ridges filters](https://ai2-s2-pdfs.s3.amazonaws.com/f215/5287472a108782f25bde1e06c

[2017-05-04 05:53] jni opened #35 "Allow different smoothing methods"
Currently, gaussian smoothing is mandated. Two other suggestions by Adam:

- Total variation denoising (already in scikit-image)
- WLHS ([paper](http://onlinelibrary.wiley.com/doi/10.1002/sca.21311/epdf))

[2017-05-04 07:59] jni commented on #35
Notes from paper 1:
- cursor width for hysteresis should be 2 times the standard deviation of the noise, and smaller than the difference between background and signal.
- NLM performs almost as well — and is already in scikit-image. ;)
- Having said that the noise images in fig 10 are very impressive.

[2017-05-09 05:38] jni commented on #33
The parameter output should perhaps be JSON and readable as a config file for future runs.

[2017-05-09 06:15] jni commented on #16
This was fixed by #29

[2017-05-09 06:15] #16 closed

[2017-05-09 06:42] jni opened #36 "Handle cycles"
Currently, junction-to-junction cycles end up as a branch type 2 with infinite squiggle. Possible options:

- filter these when computing mean values
- filter these once the graph is complete (identical endpoint coordinates) and reclassify them

[2017-05-16 05:04] jni opened #38 "Make combined excel file"
It will help for provenance tracking to save outputs to an Excel file with multiple sheets:
- image level statistics
- branch level statistics
- configuration parameters

[2017-05-18 06:01] jni commented on #20
Fixed by #23!

[2017-05-18 06:02] jni commented on #33
Fixed by #37

[2017-05-18 06:02] #33 closed

[2017-05-18 06:02] #20 closed

[2017-05-18 06:03] jni commented on #38
Fixed by #40

[2017-05-18 06:03] #38 closed

[2017-05-23 01:31] ajblanch opened #41 "Output of skeleton file goes to user directory"
Version 0.6.1

[2017-05-23 01:32] ajblanch opened #42 "Output of skeleton image resolution is reduced"
Preview screen size affects output image resolution. Skeleton traces are not visually complete at the current output resolution.

[2017-05-23 01:34] #41 closed

[2017-05-25 01:25] jni commented on #42
@ajblanch as a temporary fix, you can jack up the DPI in [this line](https://github.com/jni/skan/blob/3b824524f3c551f716ca810b53a5485a26c519ea/skan/gui.py#L229). 600 should be enough. The real fix, I think, would be to compute the DPI based on the image dimensions and plot dimensions, so that 1 pixel in plot = 1 pixel in image.

[2017-05-25 02:03] jni commented on #42
... Or not, that doesn't help. =(

[2017-05-30 03:13] yxdragon opened #43 "I think a simple network is better"
Hi Jni:
some advice:
1. I try the csr and nx. they build all pixels as node. As a togpgraph, I think some times we do not care about the path coordinates. I think we can build network just based on junctions, and the length of the path be the distance value, then attach the path coordinates on. It will be faster and use less memory.

2. the count mask should be uint8, that's enough to 2d/3d. when

[2017-05-30 09:47] jni commented on #43
Hi @yxdragon!

Thanks for checking it out, and for your feedback!

1) The junction graph can be built trivially from the branch statistics (output of csr.branch_statistics and csr.summarise), the columns node-id-0 and node-id-1 together represent an edge list. I think it would be far too much work to remove the intermediate step of the pixel skeleton, which anyway only takes up a fraction of the s

[2017-06-19 02:21] jni commented on #42
@ajblanch After further testing, increasing the dpi in that line *should* fix the problem. The question is by how much...

[2017-07-06 03:48] jni opened #44 "Add connectivity as an option"
Currently, skan assumes full connectivity of each pixel to all its neighbours (including diagonals). This would be better set as a parameter.

[2017-07-06 03:53] jni opened #45 "Fix treatment of dangling nodes"
Skan always starts from a "path" node, one with two neighbours, when defining a branch. This means that we miss single-pixel long links between end-points and joins, resulting in a discrepancy with Fiji.

[2017-07-12 02:54] jni opened #47 "Output JSON configuration file first thing"
If a run crashes or is interrupted near the end, having a config file to fall back on and/or edit would be really helpful in the recovery.

[2017-08-14 16:31] #47 closed

[2017-08-14 19:02] #45 closed

[2017-09-19 00:51] ajblanch opened #50 "Option to turn off preview"
Implement a check box for disabling memory-intensive preview operation separate to disabling skeletonised image output.

[2017-09-19 04:43] #50 closed

[2017-10-03 00:19] ajblanch opened #53 "Skeletons traced where no branches exist"
Need to modify local threshold method to either
(i) refer to global threshold to ensure local threshold is at least close to global value and not near background noise
or (ii) learn from user input traces

[2017-11-23 23:33] jni commented on #53
Additionally, we could use a ridge finding algorithm (which uses grayscale intensity to find the skeleton), instead of a binary skeletonisation algorithm.

[2017-11-23 23:33] jni opened #54 "Compute standard deviation of shape index"
This might help us to be more discriminatory when rejecting branches for overall statistics.

[2017-11-23 23:34] jni opened #55 "Add documentation with user guide and examples"
Docs are clearly needed to make the package useful by others.

[2017-12-05 05:27] jni opened #56 "Keep track of branches at pixel level"
We can use a sparse list-of-lists (jagged array) to do this. This will enable colormapping of "true" skeleton branches (instead of the Euclidean map) in overlays.

[2017-12-05 05:46] jni opened #57 "Add interactive overlay show/hide"
We can use this to better be able to visualise branch statistics on top of the image.

[2017-12-13 04:48] jni commented on #57
@ajblanch can you paste the code from that interactive coding session that we did on your computer?

[2017-12-13 04:53] ajblanch commented on #57
[juan.txt](https://github.com/jni/skan/files/1554150/juan.txt)

[2018-03-01 06:07] jni opened #60 "Rename Skeleton.path_* to Skeleton.branch_*"
This is more consistent with every other part of the library.

[2018-03-14 22:01] stsievert opened #61 "Link to docs"
Either in the readme or in the GitHub's repository description area.

[2018-03-15 05:52] jni commented on #61
@stsievert Great idea! Thanks for the ping! =) Fixed in both places because why not.

[2018-03-15 05:52] #61 closed

[2018-06-18 13:02] jni commented on #56
This was fixed by #59

[2018-06-18 13:02] #56 closed

[2018-06-18 13:03] jni commented on #55
This was fixed by #58

[2018-06-18 13:03] #55 closed

[2018-06-18 13:04] jni commented on #42
@ajblanch is this still a problem?

[2018-06-22 00:12] ajblanch commented on #42
The output file is presently high enough resolution to view the branches. Though in the present configuration dpi is not defined at all in the line you reference above. [240: self.figure.savefig(output_filename) ].

[2018-06-22 00:45] jni commented on #42
Ok I'm just going to assume I set it up correctly somewhere else and close this issue. =) Thanks!

btw feel free to continue to ping me with Skan questions!

[2018-06-22 00:45] #42 closed

[2018-10-16 22:25] jni opened #66 "skan is incompatible with matplotlib 3.0"
We get the following error:

[code]

[2018-10-16 22:51] #66 closed

[2019-01-23 18:47] constantinpape opened #68 "Suggestion for API: Return pixel_indices in different format"
First of all, thanks a lot for `skan`. It makes my life much easier for an upcoming project involving quite a bit of skeleton analysis. I have a few minor pain points with the API though. The first one:

`csr.skeleton_to_csgraph` returns `pixel_indices` as `np.array[n_pix, n_dim]` in `float64`.
This can't be used to index the original image. I am using this to turn it into something that can index

[2019-01-23 18:53] constantinpape opened #69 "Suggestion for API: Return degrees as flat array"
Second point:
`csr.skeleton_to_csgraph` returns `degree_image` as `np.array[img_shape]`, but returns `graph` as `csr[n_skel_pix, n_skel_pix]` and `pixel_indices` as `np.array[n_skel_pix, n_dim]`. Why not return `degrees = np.array[n_skel_pix]`? This would make it easier to get the node degrees for several nodes and would also be more memory efficient.  Also the fact that `pixel_indices` can't be u

[2019-01-23 22:36] constantinpape opened #70 "Retrieve skeleton tree structure"
Skeletons are supposed to be trees (though we could give `skan` a loopy input image. I don't know what happens then yet, but that's stuff for a different issue).
It would be nice to have some functionality to retrieve this, i.e. have some function
that returns the parent node for each skeleton node.
This could also be encoded in the node-ids, e.g. by the parent node always having the smaller id,
l

[2019-01-23 23:11] jni commented on #70
No, skeletons aren't necessarily trees, they are trees in one particular domain. ;) See the [skan paper](https://peerj.com/articles/4312/) for  a non-tree application. =) It might be possible to use scipy.sparse.csgraph to get a tree labelling though, if you know the root.

The bug is concerning and might be due to the junction disambiguation code (see the suppl figure in the paper). Can you let m

[2019-01-24 00:56] jni commented on #68
The thing is that it's actually *sub*pixel *coordinates*... (Again, see supplementary material of the paper.) Perhaps I need to change the name of some variables... =P And perhaps a command-line flag could change this behaviour...

[2019-01-24 01:10] jni commented on #69
It wouldn't because we already compute degree-image inside the function, so it was a matter of whether I could be bothered doing additional processing inside. At the time I thought nah, but I can certainly revisit this decision!

For these issues, I would very much like to see how you are currently using the functions (ie what is the downstream processing you are forced to do), and how you would l

[2019-01-24 01:13] jni commented on #69
Oh and incidentally: I once tried to build the graph by visiting *only* nonzero pixels, and found that to be slightly slower than visiting every pixel and ignoring zero ones. I took this to be because cache misses caused by visiting only nonzero indices. However, it could be that in 3D the equation is different, so it might be worth revisiting this decision.

[2019-01-24 07:56] constantinpape commented on #70
You're right, this is only true in the narrow-minded connectomics sense :).

I will implement some functions to check if a skeleton is a tree or loopy (or do you have that already in `skan`?) and get a tree labeling (will check if I can use scipy.sparse).
We can then see if you are interested to have this as a contribution.

Thanks for the link, I will check out the paper.

I will check later and

[2019-01-24 08:03] constantinpape commented on #69
Ok, good to know.

So far, I have only extracted the graph defined by the skeleton and serialized it to .swc or some custom file format. I didn't need the `degrees` for this so far, it just felt weird that two of the return values
are indexed by skeleton node id and the last one by pixel id.

Eventually, I want to chop up the skeleton at branch points to create new *sub-objects*.
I imagine `summar

[2019-01-24 08:08] constantinpape commented on #68
Ok, I will check out the paper. But just to clarify, for now the `pixel_indices` returned always correspond to the pixel position of the skeleton node, irrespective of the `spacing` parameter (at least that's the behaviour in 0.7.1)?!

Yes, I think that would be very useful for indexing.

[2019-02-02 02:54] jni commented on #70
Ah. I see. (btw you mean (2, 3) ;)

Anyway, nope, still the same issue, sorry that this is a bit confusing but it's still "correct", based on the junction uniquifying that skan does. Basically, the junction made up of nodes `{3, 6, 7, 8, 11}` gets condensed into the smallest-index node (3), and the coordinate of that junction becomes the centroid of the nodes within it. The other values are droppe

[2019-02-22 07:52] jni commented on #70
@constantinpape sorry if I sounded a bit dismissive! Can you tell me if that flag solves the problem for you? Specifically, does swc require that each pixel in a skeleton be represented? Or can it use "real-space" coordinates for points? ie, can I do anything to make sure that you can use skan while still maintaining the functionality described above?

[2019-02-24 10:51] constantinpape commented on #70
No worries, I was just distracted from this by other projects. Hope to work more on the skeleton related things soon.

Yes, it did.

Yes, .swc can use "real-space" coordinates. In most cases the coordinates are transformed to the phyiscal units (e.g. nanometer) anyway.

The only thing that is missing is going from the graph representation to a tree representation (i.e. a representation where each

[2019-05-23 08:58] tensionhead opened #71 "sk.csr.Skeleton and sk.csr.summarise indices don't match"
We have an example here, where the summarise method lists the longest branch with index 0, the sk.csr.Skeleton.path_coordinates however have different ordering, it's actually index 1 to get the coordinates of the longest branch. I attach an example, it's a zipped tif.
[example_skel.zip](https://github.com/jni/skan/files/3211184/example_skel.zip)

[2019-05-23 10:12] jni commented on #71
Hi @tensionhead and thanks for reporting!

I will investigate tomorrow, but just quickly: are you using the released version, or the master version from git? I fixed an indexing order bug in #65, but haven't yet made a release with those changes! I'll try to push a release in the coming days.

If you're comfortable installing the version on master, please try that and tell me whether it also has d

[2019-05-23 11:22] tensionhead commented on #71
Hi @jni , thanks for your quick reply! I installed skan with
`pip3 install git+https://github.com/jni/skan`
which I guess gives me the master version? If not I can happily test it by cloning your repo locally, just let me know.

[2019-05-24 04:40] jni commented on #71
That's the master version all right. =) Let me have a look to see whether I can make them consistent, then push out a new release. =)

[2019-05-27 15:03] #71 closed

[2019-05-27 15:03] jni commented on #71
@tensionhead so, after examining the code, I decided that the `summarise` and `csr.Skeleton` code had diverged too much to reconcile. Instead what I've done is create a new `summarize` function that takes a Skeleton as input and provides the same output as `summarise` but in order consistent with the input skeleton. This is done in #72 and now in master. Could you update and let me know whether it

[2019-05-28 23:53] jni commented on #71
Yes, I will add a bunch of deprecations in this release, and remove them in the next one.

Ok! Let me know if you find any more rough edges in the API! Also, if/when you publish something, please consider adding an entry with your data to the docs! I'd like to show off the diversity of applications suited for skeleton analysis. =)

[2019-06-03 18:42] tensionhead commented on #71
Hello,

sorry for the late reply!

Will do, but so far we are quite happy now.

What kind of docs do you mean? If we publish the results eventually, we
make sure to acknowledge your repo accordingly! Right now we do classical
image analysis of life imaged fluorescently labeld fish, and we need to
automatically segment the body axis mid line. This is where skan is doing a
fantastic job for us, so w

[2019-06-05 06:20] jni commented on #71
[This page](https://jni.github.io/skan/complete_analysis.html) in the documentation reproduces the analysis that we did for the [paper](https://peerj.com/articles/4312/) (for which we would definitely appreciate a citation!). It is actually generated from a [notebook](https://github.com/jni/skan/blob/master/doc/complete_analysis.ipynb) in the repo. Once you've published, it would be super cool to

[2019-11-26 00:37] ajblanch opened #75 "mesh size under-measured for discontinuous networks"
Since meshes touching the image border are discarded in the present (0.8/0.9) skan code, any skeleton with low connectivity (as per the left side of the image) will return average mesh size smaller than expected, as only enclosed meshes are included in the analysis.
![Skan-Mesh](https://user-images.githubusercontent.com/25599937/69589014-9ca07680-103e-11ea-9630-2557adfb0b97.jpg)
Meshes touching th

[2019-12-16 06:40] qiang-zhang-neu opened #76 "import error"
error happened when I import skan

environment:
win10
python 3.5.6
skan-0.8

error information:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "D:\ProgramData\Anaconda3\envs\general\lib\site-packages\skan\__init__.py", line 1, in <module>
    from .csr import skeleton_to_csgraph, branch_statistics, summarize, Skeleton
  File "D:\ProgramData\Anaconda3\envs\general\

[2019-12-16 10:37] jni commented on #76
@qiang-zhang-neu I'm afraid skan only works with Python 3.6 and above. So this is expected, and you should upgrade your Python version to continue to use skan.

I *don't* think that you should have been able to install it without error though. I'll leave this issue open until I can fix the installation process. Thanks for reporting!

[2019-12-17 05:49] qiang-zhang-neu commented on #76
Thank you for the reply.

Actually, the install is OK.

[2019-12-17 05:52] qiang-zhang-neu opened #77 "How to make the path smooth?"
skan is a very good project. However, I wonder whether there is a method to make the path smooth? I need to calculate the resliced image along the skeleton, and the path (skel.path_coordinates) is not smooth. How can I make the path more smooth? Thank you very much!

[2019-12-17 08:11] jni commented on #76
Thanks @qiang-zhang-neu! Well, it should not have been possible to install it on an unsupported Python version...

[2019-12-17 08:32] jni commented on #77
@qiang-zhang-neu right now, we don't have any tools for that in skan. I suspect that adding them would require something like `object.simplify` from Shapely. You can find the docs here:

https://shapely.readthedocs.io/en/stable/manual.html#object.simplify

Including the reference for the algorithm, reproduced below for convenience. Shapely is 2D-only, though. I would definitely welcome a contribut

[2019-12-31 06:27] qiang-zhang-neu opened #78 "how to remove branch according to the length?"
After extract the center line by skan, I find there are some wrong branches. I wanto to remove the short branch (for example. the branch whose length is shorter than 5 should be removed). Dose skan provide this method? Any suggestion is appreciated.

[2019-12-31 09:38] #76 closed

[2019-12-31 13:03] zhang-qiang-github opened #79 "Bug report"
I may find a bug. I want to extract the center line of airway. For one point, the degree image show the degree is 3, but actually there are only 2 line connect with this point. Please see the following picture.

And the airway is also attached (skele.zip). The code is:
[code]
In the above code, I set the unique_junctions to False in Skeleton(skele) in the __init__ function:

[code]

In addition, c

[2020-01-24 01:22] jpgard opened #80 "Network to raster array"
Thanks for the awesome software!

Currently `skan` supports the generation of graphs from a pixel array. However, it doesn't go in the other direction -- i.e., we have a networkx graph which includes coordinates as an attribute of each node, and we want a rasterized array (either 2D or 3D) which represents it.

In the PeerJ paper Methods section ( https://peerj.com/articles/4312/ ) , the authors d

[2020-01-24 22:26] jni commented on #80
Ha, that’s a nice amount of detail in the methods section, pretty proud of myself even though it doesn’t work anymore! =P

Anyway, thank you for your kind words and for using the library!

I would be very interested to have support for reading swc in skan. Additionally, since skimage 0.16, we have 3D line drawing, see here:

https://scikit-image.org/docs/stable/api/skimage.draw.html#skimage.draw.l

[2020-01-24 22:39] jpgard commented on #80
Oh, great. Yes, `skimage.draw.line_nd()` can make all of that work, nice. Agreed that this is straightforward with that function in the toolbox. From what I can tell, if the input graph is fully connected, the rasterized array from `skimage.draw.line_nd()` will also be fully connected, yes? (Each pixel/voxel will touch another pixel/voxel along at least one face?)

I can create a PR for the graph

[2020-01-27 02:42] jni commented on #80
@jpgard

I think so! Having said that, there hasn't been too much real-world testing of that function, so we'll see whether any bugs are uncovered by your work! :grimacing:

Correct. (At least, I don't remember adding one! :sweat_smile:)

Ok, will do so later today or tomorrow. The short version is to get from SWC to a Skeleton object, which should be easy enough since nx is already a dependency a

[2020-02-01 03:11] jni opened #81 "Reading a an SWC file into a Skeleton object"
It would be great to improve skan's IO capabilities by allowing users to read SWC files into a `skan.Skeleton` object.

As an initial effort, I think adding a `read_swc` function to `skan/io.py` would be the way to go.

[2020-02-01 03:12] jni commented on #81
@jpgard it looks like I can't assign external contributors to issues!

[2020-05-07 12:28] CsatiZoltan opened #82 "Obtain path IDs on a branch"
I tested *skan* on one of your test data (see screenshot below). I would like to obtain the node IDs for a given branch. In this case,

| branch | end points | path IDs I want  |
| ------ | ---------- | -------------------------- |
| 0      | (8,13)     | (13,10,11,7,5,4,3,2,1,6,8) |
| 1      | (8,13)     | (8,9,13)                   |
| 2      | (8,14)     | (8,12,14)                  |
| 3

[2020-05-07 15:14] jni commented on #82
Thanks for your interest in skan, @CsatiZoltan! You simply need the `path(i)` method:

https://jni.github.io/skan/api/skan.csr.html#skan.csr.Skeleton.path

Hope this helps! Please reopen if it is not what you were looking for!

[2020-05-07 15:14] #82 closed

[2020-05-07 17:04] CsatiZoltan commented on #82
Perfect! Thank you for the quick response. My bad, somehow I didn't notice the `path` method.

[2020-06-11 12:10] TaekedeHaan opened #83 "Add unique_junctions = True to Skeleton initialization"
Thank you very much for this library, it is very useful! While using it I came across the following (minor) problem.

Upon creating a Skeleton object the `skeleton_to_csgraph()` function is called. I would like to to be able to pass  `unique_junctions = False` to this function, which is currently not possible via `__init__()`. As far as my knowledge goes this could easily be added, without breakin

[2020-06-13 07:31] jni commented on #83
@TaekedeHaan this would be very useful! Would you be able to submit a PR with this change?

[2020-06-15 15:25] jni commented on #83
Closed by #84

[2020-06-15 15:25] #83 closed

[2020-06-25 12:55] fachstetter opened #85 "Get full Branch Information"
I am trying to circumvent the Fiji 'Analyse Skeleton (2D/3D)' functionality in Python and Skan seems to be the perfect project for that. I have a question regarding the Detailed Branch Information and I would very much appreciate if somebody could point me in the right direction.

I start with an Imaris derived reconstruction of a neuron (left image). Fijis 'Analyse Skeleton (2D/3D)' function give

[2020-06-25 14:42] jni commented on #85
Yes, there is! The [Skeleton class](https://jni.github.io/skan/api/skan.csr.html#skan.csr.Skeleton) contains a lot of information about branches including the full branch path, and you can draw full skeletons on a matplotlib canvas, colored by any property, using the rather poorly-named [`skan.draw.overlay_skeleton_2d_class`](https://jni.github.io/skan/api/skan.draw.html#skan.draw.overlay_skeleton

[2020-06-25 14:42] #85 closed

[2020-06-27 13:12] fachstetter commented on #85
Thank you very much!

In case anyone is wondering: The properties can be found under Skeleton.path_coordinates(index)

Best wishes

[2020-07-13 13:17] theodumont opened #86 "Numba deprecation warning"
Thank you for the great software!

When using `skan` 0.8 with python 3.8.3 we get a warning message:
[code]
caused by this part of the `csr.py` module:
[code]

Indeed, on [the Numba Website](http://numba.pydata.org/numba-doc/latest/reference/deprecation.html#change-of-jitclass-location) we can read:

Replacing `numba.jitclass` by `numba.experimental.jitclass` in `csr.py` would remove this warning.

[2020-07-13 14:06] jni commented on #86
Thanks for reporting @theodumont ! Indeed it would be best to fix this. If you are comfortable with the GitHub pull request workflow I would definitely appreciate a PR, otherwise I will try to get this done in the next few days.

[2020-07-13 14:47] theodumont commented on #86
Great!
I'll make a PR right now, don't hesitate to tell me if something is wrong with it.

[2020-07-14 09:38] jni commented on #86
Fixed in #87

[2020-07-14 09:38] #86 closed

[2020-07-28 08:32] CsatiZoltan opened #88 "Adding link to the conference talk"
As I was looking for an unrelated topic (numba), I found your [talk](https://www.youtube.com/watch?v=0pUPNMglnaE) on YouTube. I think, it would be useful to add a pointer to that video in the *skan* documentation or in the README.

[2020-07-30 14:16] jni commented on #88
@CsatiZoltan that's a great idea! I like how dask does that, for example. I'd definitely appreciate a pull request for this if you have the time!

[2020-07-30 18:43] ArnimJenett opened #90 "ValueError: cannot infer dimensions from zero sized index arrays"
Hi Juan, when feeding 3D skeletons (generated with skimage) into skan we are getting the error cited in the headline (I posted the entire Traceback below)
To me/us it looks like it is complaining about the parameter 'spacing', which we tried in all shapes and forms (int, float, array, none) with no progress.
The 3D array (of the skelton) is well-formed and the call looks like this:
[code]
/snip/
[

[2020-07-31 02:00] jni commented on #90
@ArnimJenett a blast from the past!!! Hello!!! :wave: :wave: :wave:

If you look at the last two bits from the traceback:

[code]

it looks like the row and column arrays are size 0. The only way this can happen, I think, is if the image has zero foreground pixels. Is this possible? If you can reproduce the error with a sample image that you can share, that will be super useful to help me figure o

[2020-07-31 02:14] #88 closed

[2020-07-31 08:00] CsatiZoltan opened #91 "Where is the objects.inv file in the documentation?"
In my documentation, I want references to Skan classes and functions using [intersphinx](https://www.sphinx-doc.org/en/master/usage/extensions/intersphinx.html). For that, I need an *objects.inv* file. (see also [here](https://github.com/numpy/numpy/issues/1983)). [Related.](https://code-examples.net/en/q/1d81adb). Do you have experience on hwo to solve it? If no, don't spend time with it, not tha

[2020-07-31 12:13] ArnimJenett commented on #90
@jni yes, it's fun to see how the scientific family is spreading around the world. ;)
Thank you very much for pointing us in the right direction.
As we are processing sub-volumes of bigger main-volume it is indeed possible that a sub-volume contains zero foreground pixels (as in not a single branch within that sub-volume).
To solve this problem we simply integrated a check against empty arrays (no

[2020-07-31 12:49] jni commented on #90
Hello again! That looks more serious/trickier!

Are you familiar with pdb or other debuggers? What I would do here is `python -m pdb my_script.py`. Then when it crashes you can move around in the stack trace and figure out what went wrong. Most IDEs (Spyder, VSCode, PyCharm) also have built in debuggers.

I'm totally happy to do this for you, but I'll need some test data! Since you are processing

[2020-07-31 17:25] ArnimJenett commented on #90
### Minimal skeleton size required?
while 'fixing my data' ;) I stumbled over another issue: feeding a tiny array ( `subvol.shape` is 4, 16, 8) with only a single foreground voxel (slipped through my filter) to leads to
[code]
So I changed the input filter ( `np.amax(subvol > 0` (svm)) to a threshold ( `np.sum(subvol) >= thresh` (svs)) and set thresh to 10. However, ...
[code]
41 voxels are 8% of

[2020-08-03 13:37] jni commented on #90
@ArnimJenett here is the data you are feeding my poor algorithm:

<img width="1200" alt="Screen Shot 2020-08-03 at 11 26 04 pm" src="https://user-images.githubusercontent.com/492549/89187554-ce5fd900-d5e0-11ea-8c53-f46d73ae9a18.png">

=P

You can use the following code to look at your data:

[code]

It looks like the skeletonisation fails when there are "bubbles" in the binary objects. Calling `sc

[2020-08-03 13:40] jni commented on #90
Oooh it's *super pretty* if you add `ndisplay=3` to that call. =D

<img width="1200" alt="Screen Shot 2020-08-03 at 11 39 14 pm" src="https://user-images.githubusercontent.com/492549/89188956-ad988300-d5e2-11ea-9fc8-0e44c3da6c87.png">

[2020-08-05 00:19] jni commented on #90
@ArnimJenett can you confirm whether `binary_fill_holes` fixed your issue?

[2020-08-05 09:46] jni commented on #91
@CsatiZoltan TIL that the `objects.inv` file for skan can be found at https://jni.github.io/skan/objects.inv! 😂

fyi the way I figured this out is by cd-ing into `doc`, running `make html`, then checking `_build/html` and finding that there is indeed that file right there at the root of the build. =)

[2020-08-05 09:46] #91 closed

[2020-08-05 10:05] CsatiZoltan commented on #91
Thanks, works perfectly. Now I know how to fetch them for other projects as well!

[2020-08-06 12:27] ArnimJenett commented on #90
@jni, the `binary_fill_holes` gave us some trouble, not behaving as expected. In the end we settled on openCV's `floodfill`.
Et voilà, now - on a clean skeleton - your Skan is performing perfectly, when we keep filtering against empty subvols.
Thanks a lot for your help/advise.

[2020-08-20 21:11] theo258 commented on #78
You can remove branches below a specific length with the following approach:
Let's consider the following image to be our starting point and we want to remove the small branch in the middle right side pointing downwards.

![pic](https://user-images.githubusercontent.com/60721219/90825184-d76add00-e338-11ea-80c6-394e0bbe612f.jpg)

[code]
It might not be the computationally most efficient way but wo

[2020-08-20 23:27] theo258 opened #92 "Possible incorrect classification of branch types"
According to the [docs](https://jni.github.io/skan/getting_started.html#measuring-the-length-of-skeleton-branches) the branches are divided into four categories:
1. endpoint-to-endpoint (isolated branch)
2. junction-to-endpoint
3. junction-to-junction
4. isolated cycle

So when we take a look at the following picture, in the upper left corner we can see a small branch which would be considered as

[2020-08-22 23:12] theo258 opened #93 "Point (0,0) appears falsely in pixel coordinates when using skeleton_to_csgraph"
When we take a look at the attached image, we can observe that in the upper left corner no line/branch is present. Nevertheless with the following code the coordinates list contains the point (0,0) within the pixel coordinates, which for my understanding shouldn't be. I also think that such a behavior is not documented in the [docs](https://jni.github.io/skan/api/skan.csr.html#skan.csr.skeleton_to

[2020-08-28 08:48] jni opened #94 "Add versioned docs with doctr_versions_menu"
See https://github.com/goerz/doctr_versions_menu

[2020-09-01 02:38] jni commented on #93
@theo258 apologies for the delay in responding!

Yes, this is the +1. Indeed if that point was *actually* part of the skeleton it would appear twice.

The reason is that the pixels in the skeleton are numbered 1..Nnz, and we want to use them to index directly into the coordinates.

Possibly, it's best to produce a number -> index map and then have exactly those coordinates in the coordinates array

[2020-09-01 04:49] jni commented on #92
@theo258 apologies again for the delay in responding. Very cool code that would make a great contribution to skan!

The issue is actually explained in #71 and #72: the path ordering in Skeleton and in the base csgraph code does not match. So rather than use `csr.branch_statistics(graph_class.graph)`, what you need is `csr.summarize(graph_class)`, then grab the `'branch-type'` column.

Here is my m

[2020-09-01 04:50] jni commented on #92
I'll leave this open as a reminder to document the discrepancy between the old and new interfaces, but hopefully this lets you move on with your code @theo258!

[2020-10-19 07:48] snowformatics opened #96 "Median and maximum width"
Hi Juan ,

thanks for building Skan, it works very well. I have a question, is it possible to extract the Median and maximum width of a skeleton?

Thanks in advance

[2020-10-19 08:29] jni commented on #96
Hello @snowformatics and thanks for the kind words!

Do you mean the width from the original, pre-skeletonisation binary image?

For the maximum, it's definitely doable, you can use a NumPy ufunc `reduceat` to compute the maximum value on each branch. You can use `np.maximum.reduceat` instead of `np.add.reduceat` in similar code to `path_means`, code [here](https://jni.github.io/skan/_modules/skan

[2020-10-20 06:07] snowformatics commented on #96
Hi Juan,

Thanks a lot for your answer which is very helpful to me. In case I
implement one of the features, I would love to contribute to Skan. I will
contact you again,
Cheers
Stefanie

Am Mo., 19. Okt. 2020 um 10:30 Uhr schrieb Juan Nunez-Iglesias <
notifications@github.com>:

[2020-10-22 08:37] snowformatics commented on #96
@jni I saw the "big image sprint at SciPy" call today. Would this be an option to contribute during the sprint? But I have to admit that it would be my first contribution and I can not promise 100% to join due to my little son (often ill).

[2020-10-22 11:57] jni commented on #96
Hi @snowformatics! Absolutely this would be a great sprint contribution! However, you're in Europe, aren't you? I think for the live sprint the hours for SciPy Japan (9am-5pm Tokyo time) will be challenging! You can of course do a "relay" in which you overlap as much as you can, and I will do my best to support you! But in any case this is open source! No one expects a specific time commitment fro

[2020-10-22 12:04] snowformatics commented on #96
@jni Sounds great, timing will be challenging but I could be available from 3-5pm Tokyo time (7-9am in Germany) on both days. Let's see!

[2020-10-31 14:30] jni opened #97 "Add function to prune skeleton"
Skeletonization algorithms often produce small spurious branches. skan should be able to prune those branches and produce a revised skeleton. Additionally, one might want to prune branches based on other criteria, such as curvature. This can be tricky to do correctly, however. I sketched some possible approaches in an email to @jdhenshaw, which I'll reproduce here for reference:

The short answer

[2020-10-31 14:40] jni opened #98 "Documentation: visualise 2D and 3D networks in napari"
napari has support for line shapes. It should be possible to view the many different layers of a skeleton pipeline (grayscale image, binary image, skeletonised image, and skeleton with properties) in napari using a Shapes layer, or perhaps using a new layer.

Some napari references for this:

https://github.com/napari/napari/issues/693
https://napari.org/tutorials/fundamentals/shapes
https://githu

[2020-10-31 14:42] jni opened #99 "Save skeleton to OBJ"
Complete Skeleton data can't be saved to any format right now. It would be good to add a save function for OBJ files as shown here:

https://github.com/Neubias-WG5/neubiaswg5-utilities/blob/master/neubiaswg5/metrics/skl2obj.py

[2020-10-31 14:53] jni opened #100 "Update documentation to use new Skeleton class, and deprecate old functions"
The API of skan grew organically as I was figuring out all the mechanics of it. The Skeleton class represents the future of Skan. It would be good to update the docs to use the Skeleton class together with the summarize() function, and deprecate all the other functions.

[2020-10-31 14:54] jni commented on #100
See jni.github.io/skan

[2020-11-17 10:42] gcapes opened #103 "Numba deprecation warning on import of skan"
See https://mybinder.org/v2/gh/miamaric12/Radial_Hydride_Code/master for a jupyter notebook example

![image](https://user-images.githubusercontent.com/12446270/99380037-57193100-28c1-11eb-930f-183598c8749d.png)

[2021-02-22 09:36] CsatiZoltan opened #104 "Projects using skan"
Maybe you could add a list of references that cite your [work](https://peerj.com/articles/4312/). If you want, I can open a PR.
This would increase the "prestige" of *skan* and people browsing this page could see related papers.

[2021-02-22 12:49] jni commented on #104
@CsatiZoltan I would certainly welcome such a PR, thank you!

[2021-02-22 13:47] CsatiZoltan commented on #104
@jni [On which page](https://jni.github.io/skan/) would you like me to place it?

[2021-02-25 19:13] constantinpape opened #105 "New skan release?"
It would be great to get a new skan release. Currently I need to pin numba to <=0.50 because the latest skan release does not include the chaneges for `numba.jitclass` -> `numba.experimental.jitclass`.

[2021-02-26 04:48] jni commented on #105
Holy moly, I just saw that I haven't released since Jul 2019! 🤯 Will do. @constantinpape if you are using skan actively do you want maintainer access? No expectation of extra responsibility, just want you to be able to get on with your life rather than be blocked by me. 😅

[2021-02-26 12:34] constantinpape commented on #105
Thanks!

I am only using it actively in the sense that I have one function that uses it to extract the graph from a volumetric skeletonized object. (Where it does a perfect job ;)).
So for now I won't need maintainer access, I think once you release now I will be good for the next 2 years ;).

[2021-02-27 01:12] jni commented on #105
Ha! Well, you're set then. ;)

[2021-02-27 01:12] #105 closed

[2021-03-01 09:02] CsatiZoltan commented on #104
@jni PR #106 created.

[2021-03-01 11:36] #104 closed

[2021-04-09 19:16] chrisdonlan opened #108 "Skan returns pixel 0,0 under all conditions"
Perhaps this is not a bug.  However, it was a trip wire.

[code]

This issue summarizes as:

- Two errors above are for all zeros, and an array with only isolated points.
- The final call has two [ 0. 0. ] coords.  At least 1 [0. 0.] is always present
- The coords are all floating point

To fix it, I wrapped it like:

[code]

[2021-04-11 04:21] jni commented on #108
Thanks for raising @chrisdonlan! It's definitely a trip wire and you're not the first to raise it (see #107 and #93). I might be able to set some time aside next week to address this. I think the ideal fix is to add a layer of indirection between the pixel ids and the coordinates array.

Note that the float coordinates are by design, because some junction pixels get collapsed to their centroid. Pe

[2021-04-13 08:07] piango opened #109 "Branch thickness"
Hello

This is a great tool. I have been on Skan for a week now, and starting to find it really useful.

I was wondering if there is already a way (via Skan) to **measure the thickness(or diameter) of the branches**?
I have been going through the issues (closed and open) but have not come across it. Because there are alot, seems like skan is becoming famous :) :)

I am doing a custom segmentation

[2021-04-15 06:18] jni commented on #109
Hi @piango, and thanks for the kind words!

Actually this discussion has come up before, see #96, and my comment here: https://github.com/jni/skan/issues/96#issuecomment-711840288. Do the responses there help you out? Essentially, use float values for the skeleton, from a distance transform of the data pre-skeletonization, and then measure the values on each branch. You can get the min, max, media

[2021-04-15 06:40] piango commented on #109
Hi

Thanks for your reply.

I will look into the issue that you tagged, I didn't find it before. Thanks for pointing it out for me.

Great.

I am sorry, I understand that all these issues are more work for you, but I might add one/two more issue. Or at least look around if it has been brought up before.

:)

Thank you very much

[2021-04-20 04:29] jni commented on #109
Please do! Issues at a minimum serve as a future guide to who else might be running into similar issues, and thus ideas for joining forces. 😊

Again, if you have a chance to pair up, we can set up a time. I'm in Melbourne, Australia FYI for time zone purposes. 😊

[2021-04-21 22:34] matbb opened #111 "max_num_cycles: undefined variable in _build_skeleton_path_graph when _buffer_size_offset is set"
error
[code]
originating from
[code]
where the code does not set max_num_cycles variable properly in case _buffer_size_offset is passed to function call.

[2021-04-22 00:30] jni commented on #111
Oops! Well-spotted @matbb! I think #112 is the right fix. If you could comment on that, I can merge and maybe even cut a release if you need this fix on PyPI.

[2021-04-22 11:40] matbb commented on #111
I tested the code in the pull request  at c02bde43d00b1c5479234598e26cb51cf54d86b1 and confirm it works for me
and the bug does not appear.
Thanks for the module, it solves my problem pretty well.
And I don't need a new release. I have noticed, though, that skan on conda-forge (https://anaconda.org/conda-forge/skan)
is a release behind (0.8 vs 0.9 on PyPI).

[2021-04-24 21:44] piango commented on #109
Thanks man

I will take you up on the 'pair up' one day.

Let me try to find something more worth it than...

:)

Cheers

[2021-04-26 05:50] jni commented on #109
Coolio! For reference: https://twitter.com/jnuneziglesias/status/1385754529639985152

[2021-05-03 08:13] #111 closed

[2021-05-03 08:17] jni opened #113 "requirements are not declared in setup.py or setup.cfg"
Turns out requirements.txt is actually ignored by setuptools. 🤦 Which I know now but didn't know when I started this. 😂

[2021-05-03 08:18] jni commented on #113
I'd like to move to a mostly setup.cfg-based configuration. See [napari's](https://github.com/napari/napari/blob/3a81d3afb1ab8f184e605b7473efe5d49bc7284f/setup.cfg#L40) for a reference implementation.

[2021-05-03 09:15] jni opened #114 "Should path indices start from 1?"
Working with @kevinyamauchi on displaying skeletons in napari, we realized that the labels layer is a good fit for many use cases: we can create a labels layer with the path id as the label, and have a properties table with the Skeleton summary produced by summarize. That allows one to visualize paths by many different properties.

The problem is that right now the path ids start from 0, and 0-lab

[2021-05-03 09:24] jni opened #115 "Notes on interacting with skeletons in napari"
Some functionality ideas requested by @kevinyamauchi:

- pick a pixel -> orient skeleton
- pick a pixel -> prune skeleton
- pruning: do we mark as pruned or delete and return new Skeleton?

Some potentially useful functions:
- mapping from coordinates to path id. This would allow e.g. picking from a shapes layer.
- need to build a cKDTree of *only valid coordinates* from Skeleton.coordinates. Note

[2021-05-03 09:26] jni opened #116 "Feature request: add napari plugin"
We should be able to create a plugin built into skan that returns a Labels layer with the path_ids as values and the summary properties as properties.

Other functionality such as pruning and orienting could also be added.

[2021-05-05 00:19] jni opened #118 "Add feature to remove cycles from skeleton graph"
In many situations it is known that the graph is a tree, and any cycles are known to be spurious. It would be good to create a function that allows graphs to be pruned of cycles according to some criteria.

[2021-05-05 00:19] jni commented on #118
CC @GenevieveBuckley

[2021-05-05 00:25] jni opened #119 "Feature request: allow passing in pre-existing csr pixel graph to Skeleton obj"
@GenevieveBuckley is working on improving skan's compatibility with dask. For now, we can assume that the pixel graph is small enough to fit in memory. But there is no way to create a Skeleton object with a giant input image and pre-computed pixel graph. So we can either make skan reliant on dask *or* we can allow someone to pass in the pre-computed graph, which we then use to compute the rest of

[2021-05-05 00:30] jni opened #120 "Consider removing degree image from Skeleton class"
It does not appear to be used anywhere after the graph is constructed.

[2021-05-05 00:37] jni commented on #120
It is often useful to do look at the degree image, so its creation should be its own function.

[2021-05-05 06:13] GenevieveBuckley commented on #119
My core problem is that there is no way to run the `summarize` function (for calculating branch statistics) without passing in a `Skeleton` object.

But I can't just create a `Skeleton` object for my distributed analysis use case. One issue is that the `__init__` of the `Skeleton` class [immediately calls the skeleton_to_csgraph](https://github.com/jni/skan/blob/df59b90279d14f31d767d00d74fcac2b763

[2021-05-06 05:19] GenevieveBuckley commented on #118
@kevinyamauchi might also be interested in this. Kevin, my specific interest is often in tree-like structures, where there is one starting point at the trunk, and branches subdivide off that (loops are unwanted).

[2021-05-06 07:26] kevinyamauchi commented on #118
Thanks for the ping, @GenevieveBuckley ! This would indeed be interesting to me. Our skeletons should also be loop-free. After I finish #117 , maybe I can _cycle_ back and work on this.

[2021-05-06 10:08] GenevieveBuckley commented on #118
Very humerus :laughing:

[2021-05-06 11:40] kevinyamauchi commented on #118
Haha! 😆

[2021-05-14 01:17] jni opened #121 "Better documentation for how skan handles skeleton junctions"
There is a reasonably good description of this in the supplementary material of the paper:

https://peerj.com/articles/4312/#supp-2
https://dfzljdn9uc3pi.cloudfront.net/2018/4312/1/supplementary-information-python.pdf

However, it is often a source of confusion for users, so it would be good to add it to the documentation proper.

[2021-05-26 00:15] jni opened #122 "Move documentation to use jupyter-book instead of nb2plots"
nb2plots appears to be unmaintained and appears to have stopped working with recent versions of nbconvert (6.0). This was confirmed by @GenevieveBuckley who couldn't build the .rsts until she downgraded to nbconvert 5.6.1.

Jupyter Book is an excellent alternative for docs and is well maintained. See https://github.com/napari/napari and https://github.com/napari/tutorials for jupyterbook configura

[2021-06-02 09:23] jni opened #125 "Move Documentation and testing CI to Github Actions"
Travis stopped automatically supporting open source projects, so CI hasn't run for many months. We should migrate the travis-CI configuration to github actions.

See e.g. https://github.com/scikit-image/scikit-image/pull/5074 for a reference approach.

[2021-06-07 07:38] jni opened #126 "Implement various measures of tortuosity"
Tortuosity has been defined in many different ways in the literature:

From https://www.europeanhealthjournal.com/2017/02/14/skeleton-based-cerebrovascular-quantitative-analysis/ :

The materials and methods contain various other approaches fitting b-splines. Would be nice to have those implemented in skan.

CC @marlene09

[2021-06-07 08:48] #113 closed

[2021-06-07 08:55] jni commented on #125
Perhaps a better starting model: https://github.com/napari/napari/blob/master/.github/workflows/test_comprehensive.yml

[2021-06-07 09:20] #125 closed

[2021-06-07 09:44] jni opened #130 "Fix remaining issues with GitHub Actions"
- [ ] Docs deployment still hasn't been migrated
- [ ] MacOS 11 is failing for mysterious reasons — maybe install deps from conda?
- [ ] Windows is failing in caching — also mysterious!

[code]

[2021-07-14 01:40] jni commented on #98
This script visualizes skeletons as label images:

https://github.com/jni/useful-histories/blob/master/vessel-skeleton-analysis.py

[2021-07-17 12:41] mkcor commented on #130
So, this means moving this functionality
https://github.com/jni/skan/blob/97a217d36ec1393b380d4a797b5b7ceb68e824ec/.travis.yml#L46-L62
into `.github/workflows/build-docs.yml`

[2021-07-28 11:48] joooohnny opened #132 "Find nodes and endpoints coordinates"
Hi guys,

I would like to find the nodes and endpoints coordinates in my skeleton. It looks to be possible with your library but I don't manage to do it ?

[code]

[White_Bear.zip](https://github.com/jni/skan/files/6892812/White_Bear.zip)

I manage to have this, but I don't know how to use those informations to find nodes and endpoints coordinates.
![image](https://user-images.githubusercontent.co

[2021-07-28 11:58] joooohnny commented on #132
Another thing I'd like to have is the coordinates of all the voxels by branch. For example, if I have 7 branches, I'd like to have 7 lists. With in the 1st one the coordinates of voxels in the branch 1, in the 2nd one the coordinates of voxels in the branch 2 etc...

Any idea for that ?

Thanks in advance.

[2021-07-29 06:50] jni opened #133 "Idea: don't collapse junction pixels"
I've referred people to the junction-handling in skan from the paper's supplementary material more times than I can remember:

https://peerj.com/articles/4312/#supp-1

It's a rather confusing part of the code, and though it is useful, it would be good to have alternatives that preserve each and every pixel in the original skeleton.

One idea: of all the pixels in a junction, only assign *one* to b

[2021-07-29 06:55] jni commented on #132
The `[image-]coord-src-#` and `[image-]coord-dst-#` contain the start and end point coordinates of each branch, for axes 0, 1, 2. The `image-` prefix indicates the coordinates in pixels, while `coord-src-0` contains the coordinates accounting for the image pixel spacing.

You want `[skeleton.path_coordinates(i) for i in range(data.shape[0])]`.

https://jni.github.io/skan/api/skan.csr.html#skan.csr

[2021-07-29 19:37] joooohnny commented on #132
Thank you. This is exactly what I needed. Just some problem for the junction points but I saw you posted an issue about that.
But anyway, you saved me man.

[2021-07-30 05:25] #132 closed

[2021-08-03 01:12] jni opened #134 "Consider an auto-formatter"
Most projects are using black, but I dislike a lot of its choices. [yapf](https://github.com/google/yapf) is a good option that allows lots of configuration. (Never thought I'd see myself preferring a Google lib over a PSF one! 😂)

[2021-08-11 09:08] CsatiZoltan commented on #126
Hi @jni,

I am not sure what you wish, but my software that relies on `skan` [fits B-splines](https://github.com/CsatiZoltan/CristalX/blob/master/grains/cad.py#L517) on the skeleton network. Maybe you can extract useful bits out of it.

[2021-08-12 07:27] jni commented on #126
Thanks @CsatiZoltan!

[2021-08-12 08:16] jni commented on #133
Just had a thought: replace the junction pixels subgraph (which will be something close to a clique) with its minimum spanning tree. This is very well defined and I think it will do the right thing in most if not all cases.

[2021-08-30 12:16] kevinyamauchi commented on #133
Next week works for me! Tuesday (Sept 7) or Wednesday (Sept 8) morning (CEST) work best for me.

[2021-08-30 15:09] marlene09 commented on #133
The 7th works better for me :) talk soon.

[2021-09-07 23:35] #133 closed

[2021-10-01 13:12] jarodhanko commented on #90
I was running into this same issue. Using binary_fill_holes mostly worked for me. However I did have one additional issue, which might be what ArnimJenett if referencing above.

`
import numpy as np
import skan

a = np.zeros((10,10))

skan.Skeleton(a) #fails

a[3][3]=1
skan.Skeleton(a) #fails

a[4][4]=1
skan.Skeleton(a) #fails

a[3][7]=1
skan.Skeleton(a) #fails

a[4][8]=1
skan.Skeleton(a) #success

[2021-10-02 01:32] jni commented on #90
Thanks for writing in @jarodhanko! We should definitely fix skan so that those tiny skeletons (and even empty skeletons) work. Normally I'd say make a new issue but since this one is still open I'll just keep it open for reference. :smiley:

[2021-11-19 07:52] jni commented on #134
Closed by #136

[2021-11-19 07:52] #134 closed

[2021-11-30 14:29] EdwinHernandezG opened #144 "Empty stripes after skeleton analysis with skan"
Hi @jni and @GenevieveBuckley

After analyzing the attached big skeleton using skan, the labeled skeleton showed empty stripes without any data.

[skeleton_postprocessed_4.zip](https://github.com/jni/skan/files/7626390/skeleton_postprocessed_4.zip)

The pipeline to analyze it is here:

[skeleton_analysis.zip](https://github.com/jni/skan/files/7626413/skeleton_analysis.zip)

Thanks in advance for y

[2021-12-01 06:52] GenevieveBuckley commented on #144
Thanks Edwin!

It was really fun to see what you're working on the other day, btw. It makes me happy to know people do use the code I write

[2021-12-02 07:00] jni commented on #144
thanks @EdwinHernandezG! I'll play around with this soon. After stewing on it for a bit, I think probably some labels were not translated for some reason: `map_array` will default to 0 if a key is missing. So maybe my idea of how `__array__` generates the label image is incorrect.

[2021-12-02 07:59] GenevieveBuckley commented on #144
Were we definitely using int64 for everything?

[2021-12-02 08:28] jni commented on #144
Interesting question. I don't think it should be relevant, since the missing pixels were in the *middle* of the volume (and thus probably under 2e9?), but we should absolutely check.

[2022-01-12 02:05] jni opened #146 "Figures are not currently being rendered in the docs"
See e.g.:

https://jni.github.io/skan/complete_analysis.html

[2022-01-18 04:26] lucyleeow commented on #146
Sorry, silly question, which part of `complete_analysis.rst` should be figures...?

[2022-01-18 11:33] kushaangupta commented on #98
Hi! I hope to work on this issue but the 693 & 2662 issues in napari repository are still not yet resolved. Can I have some more guidance on this?

[2022-01-18 13:47] jni commented on #146
The very last cell.

The FAQ also is supposed to show a figure. (Less code to trawl through!)

[2022-01-19 00:53] jni commented on #98
Hi @kushaangupta! To do this properly with Shapes probably requires some work on the napari side. For now, I think we should work using label images, see the script above and also https://github.com/kevinyamauchi/napari-skeleton-curator/tree/main/examples. Actually some people in my group are working on this stuff so it would be good to coordinate with them.

CC @thanushipeiris @lucyleeow @jamesry

[2022-01-19 07:30] lucyleeow commented on #146
Ah I didn't know about the `nbplot` directive. Will look into it!

[2022-01-19 13:14] jni commented on #146
It's provided by the nb2plots sphinx extension. https://github.com/matthew-brett/nb2plots

I wonder if it broke with a recent sphinx release?

Ultimately I was considering moving to MyST for those pages, so maybe now is the right time to do that...

[2022-01-19 18:20] ssavary opened #147 "Missing single-edge paths between two junctions"
Some paths consisting of only 2 nodes are missing in Skeleton.paths_list(), depending on the order the nodes ares visited.

Here is a simple script that shows the problem, with a simple (10,10) skeleton and its rotated version. The path list for figure 1 is

[[1, 2, 3],
 [3, 4, 5, 6, 7, 8, 9],
 [3, 10, 11],
 [11, 12, 13, 14],
 [11, 17],
 [15, 16, 17],
 [17, 18, 19, 20, 21]]

and the path list for

[2022-01-19 22:45] jni commented on #147
Wow, that is indeed a bug @ssavary, and I just confirmed that it is still on main (I had suspected that #143 would have fixed it, but no!). I'll try to investigate in the coming days. Obviously if you encounter any further hints please let us know!

[2022-01-19 23:21] ssavary commented on #147
I think that the condition `if not visited[node]:` in the `_build_paths` function is the culprit, because node 8 had already been visited by path [2, 4, 8] when the first loop looks at node 7. If I correctly follow the code, the order of operations is

1. first node is 1, generate path [1, 3, 5]. Mark 5 as visited (plus intermediary nodes). No more neighbour to visit.
2. next node is 2, generate p

[2022-01-22 05:45] lucyleeow commented on #146
Trying to make the docs and looking at `complete_analysis` - where is the `schizonts` directory..?

[code]

Another silly question, I'm guessing readthedocs uses `test-environment.yml` env to create the docs. Is there a `test-environment.yml` file?

[2022-01-25 09:13] jni commented on #146
I guess you missed the [top of the notebook](https://jni.github.io/skan/complete_analysis.html#getting-the-data):

Yes I am aware that it would be best if this process was automated. 😜

Oops! So, we are not hosted by RTD anymore, that file is a holdover from the earliest days of skan. It can be deleted, just like the test-environment.yml file was deleted.

You should be looking at the [build-docs]

[2022-01-31 09:56] lucyleeow commented on #146
I had missed a step here. I have found `build-docs.yml` and see how it works now! 😬

Running it locally, `getting_started` seems to work and generates images in `doc/_build/nbplot_directive`. There was an exception with running `complete_analysis`:
[code]
Checking, `data` does not seem to have that column? Could the data have changed?
[code]

This was the error in `faq.rst`:
[code]

Maybe the exam

[2022-02-01 04:17] jni commented on #146
Ha! I *thought* I was testing these things! This probably explains everything: at some point, all of these things broke, but we didn't catch them because I wasn't actually testing the running of the stuff.

The FAQ case is interesting and terrifying. :stuck_out_tongue_winking_eye: It actually requires an old version of skan to work (0.10) precisely because in 0.11+ we will remove thta functionalit

[2022-02-04 04:56] GenevieveBuckley opened #149 "Example datasets"
I saw this interesting public dataset today and thought it might be an interesting one to potentially use as a documentation example for skan. Linking it here in case it's of interest.

https://www.epfl.ch/labs/cvlab/data/data-delin/

[2022-02-09 11:39] #147 closed

[2022-02-09 11:41] jni commented on #147
@ssavary This is now fixed on main! :tada: Thank you very much for the report and for the analysis — it was spot on! I'd gone through so many hoops with off-by-one errors because I was looking at nodes rather than edges! :facepalm: :joy: One of those seemingly small conceptual changes that make everything clearer! :blush:

[2022-02-10 01:28] dzeego opened #153 "Get Junctions or Bifurcation from 3D skeletons"
Hello,

Is is possible to extract degrees of the junctions or bifurcation of 3D skeleton of the vessels?
I saw that this output has been deprecated in the recent releases on Skan.
So what should I do?

Many thanks !

[2022-02-10 02:07] jni opened #154 "Example datasets for documentation pages"
- [ ] Plant roots https://forum.image.sc/t/how-to-write-a-script-for-automatic-length-measurement/63093
- [ ] ?

[2022-02-11 07:27] jni commented on #153
Hi @dzeego!

Yes I'm in the process of updating the docs and also the API to make these things more obvious. But, specifically, class [`skan.Skeleton`](https://jni.github.io/skan/api/skan.csr.html#skan.csr.Skeleton) contains the degree information for every point of the skeleton. To find the coordinates of bifurcations, do `skeleton.coordinates[skeleton.degrees > 2]`.

... And, I just noticed that

[2022-02-12 10:18] EdwinHernandezG commented on #154
Maybe vessels on 3D? I can share some of those.

[2022-02-13 00:49] jni commented on #154
Thanks @EdwinHernandezG! That would be awesome. If you can put one on Figshare/Dryad/similar with CC-BY or more permissive license, we can add it to the 3D display page! :tada:

[2022-02-13 04:37] jni opened #158 "Add versioning to skan docs"
The material theme we are using since #157 has support for versioning, documented here:

https://bashtage.github.io/sphinx-material/customization.html#version-dropdown

I'd like to figure out how to use it to expose documentation going back to at least skan 0.9.

[2022-02-14 02:55] jni commented on #98
This was closed by #155! 🎉 In the future we can keep improving that documentation.

[2022-02-14 02:55] #98 closed

[2022-02-14 14:47] dzeego commented on #153
Hi @jni !

Thank you very much for your reply ! Really helpful :)
I make use of the fact that this issue remains open to ask another question please:
Is it possible to extract the pre-skeletonized diameters (from the original image) directly from the skeleton.
To be more clear, I would like to directly find the different diameters along the skeleton. Is that possible?

Thanks again !

[2022-02-19 03:40] jni opened #160 "Potential new feature: advanced skeletonisation algorithms"
See e.g. TEASAR:

https://www3.cs.stonybrook.edu/~bender/pub/PG2000_teasar.pdf

I think there's some new deep learning based methods too. Would be nice to either directly support them or to add docs about them.

[2022-02-19 19:43] dani-lbnl opened #161 "Bug report: draw.overlay_skeleton_networkx"
Example in https://skeleton-analysis.org/getting_started.html is NOT working. Code below:

from skan import _testdata
g0, c0 = skeleton_to_csgraph(_testdata.skeleton0)

draw.overlay_skeleton_networkx(g0, np.transpose(c0), image=_testdata.skeleton0,
                               axis=axes[0])
draw.overlay_skeleton_networkx(g1, np.transpose(c1), image=_testdata.skeleton1,

[2022-02-20 00:16] jni commented on #161
@dani-lbnl Are you on the released (0.10.0) version of skan? If so, could you please upgrade to the main branch? Unfortunately we don't have versioned docs yet so the documentation points to the main branch — where a lot has changed since release.

[2022-02-20 17:26] dani-lbnl commented on #161
Thanks @jni - yes, I'm using the latest release (0.10.0) - when you say upgrade, do you mean to v0.10.0rc2 (pre-release)?

[2022-02-20 23:24] jni commented on #161
No, I mean something like `pip install git+https://github.com/jni/skan`, which will install the unreleased code changes that generate the docs. Sorry about that — the solution is to properly version the docs, which is part of the plans but not there yet.

[2022-02-23 07:48] jni opened #162 "Speedup idea for finding the graph center for Sholl analysis"
As noted by @kushaangupta in #148, the automatic skeleton geodesic center-finding is extremely slow. This is because we need to compute the shortest paths for all pairs of pixels in the skeleton.

However, we can speed this up *dramatically* by only considering junctions and endpoints — that is, by only considering the much-reduced junction graph. In scikit-image we don't have this luxury but in s

[2022-02-23 07:55] kushaangupta commented on #162
I implemented it just yesterday for my work and it works nicely. I'll open a PR soon. However, I had to convert the csr graph to `networkx.DiGraph` for doing it, and then back to CSR graph.

[2022-02-23 11:34] jni commented on #162
That's weird but ok, once you have a PR I can look in more detail. Awesome that you got it working!!!

[2022-02-25 08:34] jni opened #163 "Add versioned docs with pydata or napari sphinx themes"
The PyData sphinx theme recently (0.8.0, Jan 2022) added a version switcher dropdown menu, documented here:

https://pydata-sphinx-theme.readthedocs.io/en/latest/user_guide/configuring.html#add-a-dropdown-to-switch-between-docs-versions

I'm still not clear on how to change [docs deployment](https://github.com/jni/skan/blob/main/.github/workflows/deploy-docs.yml) so that versions are uploaded to t

[2022-03-09 01:12] #162 closed

[2022-03-09 01:13] jni opened #165 "Drop Py 3.7 support"
Python 3.7 builds are failing because most of our dependencies have already dropped support according to NEP-29 the NumPy deprecation policy. We should just drop ours too.

[2022-03-22 09:51] kushaangupta opened #166 "Potential problem in branch-type classification of cycle"
The following minimal skeleton is not being classified as cycle in summary. I was wondering if it's a problem or a compromise of the current algorithm for branch-type classification.

[code]

[2022-03-22 12:28] jni commented on #166
@kushaangupta can you please include complete imports, screenshots, and outputs when making issues?

At any rate, wow that is not what I expected to see:

[code]

What I *expected* to happen is that the "junction" at the bottom right would be cleared by the MST method, and then there would be a single loop, going from 4 to 4. So this indeed appears to be a major bug. I don't think it's at the clas

[2022-03-22 13:59] kushaangupta commented on #166
Done

I understand. So, is the problem in `scipy.sparse.csgraph.minimum_spanning_tree`?

[2022-03-23 01:00] jni commented on #166
More likely, in how we use it, here:

https://github.com/jni/skan/blob/f606888282bc255ee3d816b197927721def8732f/src/skan/csr.py#L774-L814

[2022-03-23 01:39] jni commented on #166
:point_up: that's super-suspicious :joy: I wonder if that factor, combined with the new traversal algorithm (#152) have created an error. If I remember correctly, the algorithm sets the entries to 0. But it might actually need to *delete* the entries (relatively expensive, as it requires copying the whole csr graph), or we need to change the algorithm to ignore 0 entries.

[2022-03-23 02:30] jni commented on #166
Actually, I think copying the graph is better than having an additional `if` expression for every edge.

[2022-04-06 01:51] jni commented on #153
@dzeego you'll need to do some custom graph work for this. By default, skan does not have any notion of a skeleton "root" node, or bifurcations along a path — skeletons can contain cycles. For example in the original skan paper the skeletons measured are a mesh on the plane.

I think the new skan API I'm working on will let you do this more easily, but basically:

- construct a networkx.Graph or n

[2022-04-13 08:57] jni opened #168 "Make function to match napari's labels colormap in shapes"
The 3D visualisation tutorial uses the spectral colormap together with random path labels to get a categorical visualisation. However, it would be convenient to make the categorical colormap match the napari labels colormap. One way to achieve this might be:

- create the path feature table (`skan.summarize`)
- add a column that uses napari's low_discrepancy_image to map the path_id + 1 to the sam

[2022-04-13 13:42] jni opened #169 "Port prune branches function from napari-skeleton-curator"
See here:

https://github.com/kevinyamauchi/napari-skeleton-curator/blob/f2de8590d637ead27c78a256705cf46cb80a8ee5/napari_skeleton_curator/utils.py#L43-L80

[2022-04-13 13:43] #169 closed

[2022-04-17 23:02] #165 closed

[2022-04-19 21:10] XDengN opened #170 ""too many values to unpack (expect 2)" when ran skeleton_to_csgraph"
Hi,

I was trying to test the code from https://skeleton-analysis.org/getting_started.html. Everything worked well until I was trying to run `pixel_graph, coordinates = skeleton_to_csgraph(skeleton0)`. It reported `ValueError: too many values to unpack (expected 2)`. I tried on skan's example image and my own image as well. Both reported the same error. How can I resolve this?

Thanks!

[2022-04-19 22:36] XDengN commented on #170
I think there might be a bug. According to the text from https://skeleton-analysis.org/getting_started.html, `skeleton_to_csgraph`actually returns three values: pixel_graph, coordinates and degrees.

But in the source file of csr.py, `skeleton_to_csgraph` is only supposed to return pixel_graph and coordinates. So is expected from the example code: `pixel_graph, coordinates = skeleton_to_csgraph(sk

[2022-04-20 06:23] jni commented on #170
Hi @XDengN!

I apologise. The issue is that the documentation site shows the latest API from main, but the version you have installed (from pip or conda-forge) contains the 0.10.0 API. I have an issue about this (#158), but haven't been able to get to it.

If you want to follow the docs, you can install skan from main using `pip install -U pip+https://github.com/jni/skan`.

I'm going to close this

[2022-04-20 06:23] #170 closed

[2022-04-20 17:58] XDengN commented on #170
Hi @jni

Thank you for your reply. `pip install -U pip+https://github.com/jni/skan` doesn't really work for me. The system says: "Hint: It looks like a path. File 'pip+https://github.com/jni/skan' does not exist."

[2022-04-21 00:31] jni commented on #170
Oops!!! Sorry I mistyped: `pip install -U git+https://github.com/jni/skan`. I updated the comment.

[2022-05-19 13:11] #153 closed

[2022-05-19 13:17] dzeego opened #174 "Degrees array size not matching Coordinates"
Hi @jni !

Thanks a lot for such a great and versatile library!

I am having some trouble understanding the fact that skan is returning an array size for skan_obj.degrees < skan_obj.coordinates
Having inspected the images, everything appears to be correct except that!

Here is the error I am getting after launching this code line:
`for xyz in skan_skeleton.coordinates[skan_skeleton.degrees == 1]:

[2022-05-26 13:48] jni commented on #174
Thanks for the report @dzeego!

You're running into an issue that I am trying hard to fix in the next version: the coordinates contain a "dummy" value of 0, 0, 0 at the first (0th) position in the array. This is so that each skeleton pixel can directly index its corresponding coordinate (since background is 0, pixels start at 1).

To work around the issue, for now, do `skan_skeleton.coordinates[1:

[2022-06-01 12:36] assia855 opened #176 "ValueError: not enough values to unpack (expected 3, got 2)"
Hi,
I would like to ask for :
`_, _, degrees = skeleton_to_csgraph(imgg)`  it returns: ValueError: not enough values to unpack (expected 3, got 2) when I pass three input, and I would like to ask about `draw.overlay_skeleton_networkx ` if there's a similar function for 3D.
Thanks in advance

[2022-06-02 07:02] #176 closed

[2022-06-03 09:58] assia855 commented on #176
Thank you for your replay. Yes, I update skan and I'm using the new version.
I still have a problem with the visualization. How I can visualize a multidimentional 3D graph. I used: `draw.overlay_skeleton_networkx` but it just for 2D. I couldn't understand how can I integrate napari with the graph pixel-graph and coordinates. if you have a simple idea on how can i visualze the pixel-graph and its c

[2022-06-07 09:37] jni opened #179 "3D Labels view is broken in docs"
See: https://skeleton-analysis.org/dev/examples/visualizing_3d_skeletons.html

Looks like a mismatch between napari and vispy versions. We should perhaps pin these dependencies for docs building.

[2022-06-07 10:02] assia855 commented on #176
Thanks I'll test it

[2022-06-26 07:38] siddagra commented on #132
I am having an issue... Whether I use `src` or `dst` coords.. `image-` or otherwise, It often detects junctions as `dst` instead of the endpoints.

How do I specifically get the correct endpoints?

![image](https://user-images.githubusercontent.com/52118936/175804360-69005490-6d9b-43f2-a046-94e48b508493.png)

code:
[code]
(plotting has to interchange coordinates since the endpoints lists y coordin

[2022-06-26 07:45] siddagra opened #180 "How to find endpoints and junction points?"
I am having an issue... Whether I use `src` or `dst` coords.. `image-` or otherwise, It often detects junctions as `dst` instead of the endpoints.

How do I specifically get the correct endpoints and junction points corresponding to those endpoints?

degree functionality also seems to be removed otherwise I could use that to check if a node has a degree higher than 2 as junction.

![image](https:/

[2022-07-22 20:48] haesleinhuepf commented on #116
FYI: https://github.com/haesleinhuepf/napari-skeleton-analysis

[2022-07-23 07:21] jni commented on #116
@haesleinhuepf I get a 404 — maybe you forgot to make it public? Also there is https://github.com/kevinyamauchi/napari-skeleton-curator, sorry that there wasn't a link here.

[2022-07-23 10:51] haesleinhuepf commented on #116
Yes :D I'm still a beginner obviously.

Super cool, because I don't think there's too much overlap between these two plugins. Thanks for the link! 🙌

I've just added this section to the readme to improve the linking between the plugins.
https://github.com/haesleinhuepf/napari-skeleton-analysis#related-plugins

[2022-07-23 14:19] jni commented on #116
Ok. Fyi the plan with skeleton curator was to fold its functionality into skan. How would you feel about me doing the same with yours? I'm still fiddling with the final API then I'll get to work on pluginifying all the things. 😜

[2022-07-23 15:07] haesleinhuepf commented on #116
How about I send you a PR? 🙃 I'd be happy to. Let me when it's the right time ⏰

[2022-11-23 07:19] fgbxx opened #181 "Found a patch not build"
hi, guys,
   thanks for your tools, it is very useful!
   I have found a case to report if this is bug or not.
   I　use the skimage.morphology.skeletonize to generate the 3D vessel skeleton, and use skan.Skeletonto do analysis.
   But I found a case that a pixel have the connection with another(with 27-neibourhood), and double confirm the degree match the skeleton image. Bug the path not exist as

[2022-11-24 01:20] fgbxx commented on #181
@jni could you help me?